body {
    font-family: 'Nanum Gothic', sans-serif;
    color: black;
    margin: 50px;
    background-color: rgb(255, 239, 249);
    
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 200px 200px 1fr 100px 50px;
    grid-template-areas: 
    "header . nav nav"
    "image title title title"
    "image title title title"
    "aside about about about"
    "aside work work work"
    "aside contact contact contact"
    "footer footer footer footer"
    ;
    padding: 20px;
}

.header {
    grid-area: header;
    text-align: center;
}


.nav {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 35px;
    margin-left: 100px;
    margin-right: 100px;
    /*background-color: rgb(190, 231, 252);*/

    
}

.image {
    grid-area: image;
}

.aside {
    grid-area: aside;
    border-right: solid;
    border-right-color: rgb(255, 122, 144);
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.about {
    grid-area: about;
    
}

.about h2 {
    text-align: left;
}

.title {
    grid-area: title;
    text-align: center;

}

.title h2 {
    font-size: 60px;
    
}

.title img {
    width: 100%;
}
.work {
    grid-area: work;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 425px 1fr;
    grid-template-areas: 
    "project1 project1 project2"
    ". project3 ."
    ;
}

.project1 {
    grid-area: project1 ;
    padding-top: 45px;    
}    

.project1 h2 { 
    position: absolute;
    color: white;
    z-index: 100;
}
 
.project1 img {
    width: 100%;
    object-fit: cover;
    max-height: 100%;
    position: relative;
    display: flex;
    align-content: center;
}

.project2 img {
    width: 100%;
    object-fit: cover;
    max-height: 100%;
    position: relative;
}

.project2 h2 {
    position: absolute;
    color: white;
    object-fit: cover;
    max-height: 100%;
    z-index: 100;
}

.project3 img {
    width: 100%;
    object-fit: cover;
    max-height: 100%;
    position: relative;
}

.project3 h2 {
    position: absolute;
    color: white;
    object-fit: cover;
    max-height: 100%;
    z-index: 100;
}


.project2 {
    grid-area: project2 ;
    min-width: 0;
}

.project3 {
    grid-area: project3 ;
    min-width: 0;
}


.contact {
    grid-area: contact;
    margin-top: 60px;

}


.footer {
    grid-area: footer;

}

.work a {
    color: white;
    text-decoration: none;
}

.nav a {
    color: black;
    text-decoration: none;
}


